<div class="tweet_container">
  <form class="form-tweet" method="POST" action="/tweets">
    <textarea class="form-control" rows="3" style="resize:none" id="tweet" name="tweet"></textarea>     
    <button class="btn btn-primary tweet_button pull-right" type="submit"> Tweet </button>
  </form>
</div>