{% extends "page.liquid" %}

{% block head %}
  <title> {{model}} - FsTweet </title>
{% endblock %}

{% block content %}
  <p>User wall coming here!</p>
{% endblock %}

{% block scripts %}
<script src="assets/js/tweet.js"></script>
<script src="assets/js/wall.js"></script>
{% endblock %}